<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="/charts/">

    <title>Chart</title>

</head>
<body style="text-align: center">
    <h1 style="color: #27285c;font-size: 48px;font-family: Agency FB">Twitter Stock Sentiment Analysis Dashboard</h1>

    <form action= "{{ url_for('test')}}" method="post">
        <p style="font-size: 24px;color: #27285c;font-family: Verdana">Enter A Valid Stock Ticker Symbol</p>
        <input type = "text" id = "myTicker" name = "myTicker" placeholder="Enter stock symbol: " style="font-family: Arial;background-color: #e4d3ff">
        <br><br>
        <input type="submit" id = "submit_btn" style="background-color: #FFFFFF;"
            onmouseover= "this.style.background = '#AAAAAA'"
            onmouseout= "this.style.background = '#ffffff'">
    </form>

    <br>

    <div>
        <img id="pieChart" src="/static/images/pieChart.png" >
        <img id="wordCloud" src="/static/images/wordCloud.png" >
    </div>

    <div id='chart1' class='chart1'></div>

    <br>

    <br>


    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graph = {{graphJSON | safe}};
        Plotly.plot('chart1',graph,{});
    </script>

    <br>

</body>
</html>